# Flight Price Prediction

### 1. Inspecting the Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file = 'Data_Train.xlsx'
training_data = pd.ExcelFile(file)
print(training_data.sheet_names)

['Sheet1']

In [3]:
train_df = training_data.parse('Sheet1')

In [4]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [6]:
train_df.shape

(10683, 11)

### 2. Data Cleaning

In [7]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [8]:
# We have only 1 missing values in Route and Total_Stops Columns.
# So we will drop the data the rows with missing values.
train_df.dropna(inplace=True)

In [9]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [10]:
train_df.shape

(10682, 11)

### 3. Data Manipulation

In [11]:
train_df['Journey_day'] = pd.to_datetime(train_df['Date_of_Journey'], format="%d/%m/%Y").dt.day

In [12]:
train_df['Journey_month'] = pd.to_datetime(train_df['Date_of_Journey'], format="%d/%m/%Y").dt.month

In [13]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [14]:
# Drop 'Date_of_Journey' column of the data frame
train_df.drop('Date_of_Journey', axis=1, inplace=True)

In [15]:
# Extract departure hour
train_df['departure_hour'] = pd.to_datetime(train_df['Dep_Time']).dt.hour
# Extract departure min
train_df['departure_minute'] = pd.to_datetime(train_df['Dep_Time']).dt.minute

In [16]:
# Drop 'Dep_Time' column of the data frame
train_df.drop('Dep_Time', axis=1, inplace=True)

In [17]:
train_df.head()

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,departure_hour,departure_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50

In [18]:
# Extract arrival hour
train_df['arrival_hour'] = pd.to_datetime(train_df['Arrival_Time']).dt.hour
# Extract arrival minute
train_df['arrival_min'] = pd.to_datetime(train_df['Arrival_Time']).dt.minute

In [19]:
# drop the 'Arrival_Time' colummn of the data frame
train_df.drop('Arrival_Time', axis=1, inplace=True)

In [20]:
train_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35

In [21]:
duration = list(train_df['Duration'])

for i in range(len(duration)):
    if len(duration[i].split()) != 2:
        if 'h' in duration[i]:
            duration[i] = duration[i].strip() + " 0m"
        else:
            duration[i] = "0h " + duration[i]
duration_hours = []
duration_minutes = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep='h')[0])) # Extract hours from duration
    duration_minutes.append(int(duration[i].split(sep='m')[0].split()[-1])) # Extracts only minutes from

In [22]:
# Adding duration_hours and duration_mins list to train_df dataframe
train_df['duration_hours'] = duration_hours
train_df['duration_minutes'] = duration_minutes

In [23]:
train_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min,duration_hours,duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,16,50,21,35,4,45

In [24]:
# Dropping 'Duration' column from data frame
train_df.drop('Duration', axis=1, inplace=True)

In [25]:
train_df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min,duration_hours,duration_minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45

In [26]:
# Dealing with categorical data performing one hot encoding
Airlines = train_df[['Airline']]
Airlines = pd.get_dummies(Airlines, drop_first=True)
Airlines.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0

In [57]:
train_df['Source'].value_counts()

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [27]:
Sources = train_df[['Source']]
Sources = pd.get_dummies(Sources, drop_first=True)
Sources.head()

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             0               0              0
1               0             0               1              0
2               0             1               0              0
3               0             0               1              0
4               0             0               0              0

In [28]:
train_df['Destination'].value_counts()

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [29]:
Destinations = train_df[['Destination']]
Destinations = pd.get_dummies(Destinations, drop_first=True)
Destinations.head()

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,0,0,0,1
1,0,0,0,0,0
2,1,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,1

In [30]:
# Additional Info contains almost 80 % no_info
train_df.drop(['Route', 'Additional_Info'], axis=1, inplace=True)

In [31]:
train_df.shape

(10682, 13)

In [32]:
train_df.head()

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min,duration_hours,duration_minutes
0,IndiGo,Banglore,New Delhi,non-stop,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2 stops,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2 stops,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1 stop,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1 stop,13302,1,3,16,50,21,35,4,45

In [33]:
train_df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [34]:
train_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [35]:
# As this is case of Ordinal Categorical type we perform Label Encoding
# Values are assigned with corresponding keys
train_df.replace({'non-stop':0, '1 stop':1, '2 stops':2, '3 stops':3, '4 stops':4}, inplace=True)

In [36]:
train_data = pd.concat([train_df, Airlines, Sources, Destinations], axis=1)

In [37]:
train_data.head()

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,IndiGo,Banglore,New Delhi,0,3897,24,3,22,20,1,...,0,0,0,0,0,0,0,0,0,1
1,Air India,Kolkata,Banglore,2,7662,1,5,5,50,13,...,0,0,0,1,0,0,0,0,0,0
2,Jet Airways,Delhi,Cochin,2,13882,9,6,9,25,4,...,0,0,1,0,0,1,0,0,0,0
3,IndiGo,Kolkata,Banglore,1,6218,12,5,18,5,23,...,0,0,0,1,0,0,0,0,0,0
4,IndiGo,Banglore,New Delhi,1,13302,1,3,16,50,21,...,0,0,0,0,0,0,0,0,0,1

In [38]:
train_data.drop(['Airline', 'Source', 'Destination'], axis=1, inplace=True)

In [39]:
train_data.head()

,Total_Stops,Price,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min,duration_hours,duration_minutes,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,...,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,...,0,0,0,1,0,0,0,0,0,0
2,2,13882,9,6,9,25,4,25,19,0,...,0,0,1,0,0,1,0,0,0,0
3,1,6218,12,5,18,5,23,30,5,25,...,0,0,0,1,0,0,0,0,0,0
4,1,13302,1,3,16,50,21,35,4,45,...,0,0,0,0,0,0,0,0,0,1

In [40]:
train_data.shape

(10682, 30)

### 4. Feature Selection

In [41]:
train_data.shape

(10682, 30)

In [42]:
train_data.columns

Index(['Total_Stops', 'Price', 'Journey_day', 'Journey_month',
       'departure_hour', 'departure_minute', 'arrival_hour', 'arrival_min',
       'duration_hours', 'duration_minutes', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi'],
      dtype='object')

In [43]:
# Taking all columns except for the 'price' column which is the dependent column
X = train_data.loc[:, ['Total_Stops', 'Journey_day', 'Journey_month',
       'departure_hour', 'departure_minute', 'arrival_hour', 'arrival_min',
       'duration_hours', 'duration_minutes', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi']]
X.head()

,Total_Stops,Journey_day,Journey_month,departure_hour,departure_minute,arrival_hour,arrival_min,duration_hours,duration_minutes,Airline_Air India,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,24,3,22,20,1,10,2,50,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,5,5,50,13,15,7,25,1,...,0,0,0,1,0,0,0,0,0,0
2,2,9,6,9,25,4,25,19,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1,12,5,18,5,23,30,5,25,0,...,0,0,0,1,0,0,0,0,0,0
4,1,1,3,16,50,21,35,4,45,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
y = train_data.iloc[:, 1]
y.head()

0     3897
1     7662
2    13882
3     6218
4    13302
Name: Price, dtype: int64

### 5. Model Development

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [46]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

reg_all = RandomForestRegressor()

parameters = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

tuning_reg_model=RandomizedSearchCV(reg_all,param_distributions=parameters,scoring='neg_mean_squared_error',cv=3,verbose=3)
tuning_reg_model.fit(X_train, y_train)
tuning_reg_model.score(X_test, y_test)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV 1/3] END max_depth=15, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=500;, score=-2876219.615 total time=  10.5s
[CV 2/3] END max_depth=15, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=500;, score=-7000873.823 total time=   6.2s
[CV 3/3] END max_depth=15, max_features=auto, min_samples_leaf=1, min_samples_split=5, n_estimators=500;, score=-4002439.206 total time=   6.3s
[CV 1/3] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=600;, score=-6736586.259 total time=   1.2s
[CV 2/3] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=600;, score=-11639876.666 total time=   1.2s
[CV 3/3] END max_depth=5, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=600;, score=-8208979.067 total time=   1.2s
[CV 1/3] END max_depth=25, max_features=auto, min_samples_leaf=10, min_samples_split=10, n_estimators=700;, score=-3164066.516 total time=   7.0s
[CV 2/3] END max_depth=25, max_features=auto, min_samples_leaf=10, min_samples_split=10, n_estimators=700;, score=-8005067.791 total time=   6.8s
[CV 3/3] END max_depth=25, max_features=auto, min_samples_leaf=10, min_samples_split=10, n_estimators=700;, score=-4995111.771 total time=   6.7s
[CV 1/3] END max_depth=5, max_features=sqrt, min_samples_leaf=5, min_samples_split=15, n_estimators=500;, score=-6434928.201 total time=   0.9s
[CV 2/3] END max_depth=5, max_features=sqrt, min_samples_leaf=5, min_samples_split=15, n_estimators=500;, score=-12252066.011 total time=   0.9s
[CV 3/3] END max_depth=5, max_features=sqrt, min_samples_leaf=5, min_samples_split=15, n_estimators=500;, score=-8330546.543 total time=   0.9s
[CV 1/3] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1000;, score=-3475376.787 total time=   3.7s
[CV 2/3] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1000;, score=-8286704.590 total time=   3.7s
[CV 3/3] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1000;, score=-4839524.675 total time=   3.6s
[CV 1/3] END max_depth=25, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=800;, score=-3711748.253 total time=   2.7s
[CV 2/3] END max_depth=25, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=800;, score=-8738974.825 total time=   2.9s
[CV 3/3] END max_depth=25, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=800;, score=-5440627.927 total time=   2.9s
[CV 1/3] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=15, n_estimators=100;, score=-4382568.796 total time=   0.2s
[CV 2/3] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=15, n_estimators=100;, score=-9025131.333 total time=   0.2s
[CV 3/3] END max_depth=10, max_features=sqrt, min_samples_leaf=2, min_samples_split=15, n_estimators=100;, score=-5667688.782 total time=   0.2s
[CV 1/3] END max_depth=30, max_features=sqrt, min_samples_leaf=10, min_samples_split=2, n_estimators=400;, score=-4368978.027 total time=   1.2s
[CV 2/3] END max_depth=30, max_features=sqrt, min_samples_leaf=10, min_samples_split=2, n_estimators=400;, score=-9463797.082 total time=   1.2s
[CV 3/3] END max_depth=30, max_features=sqrt, min_samples_leaf=10, min_samples_split=2, n_estimators=400;, score=-6065691.027 total time=   1.2s
[CV 1/3] END max_depth=25, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=300;, score=-2942016.643 total time=   3.3s
[CV 2/3] END max_depth=25, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=300;, score=-7613136.480 total time=   3.1s
[CV 3/3] END max_depth=25, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=300;, score=-4599956.556 total time=   3.2s
[CV 1/3] END max_depth=5, max_features=auto, min_samples_leaf=5, min_samples_split=2, n_estimators=300;, score=-4954196.766 total time=   1.6s
[CV 2/3] END max_depth=5, max_features=auto, min_samples_leaf=5, min_samples_split=2, n_estimators=300;, score=-10445558.104 total time=   1.6s
[CV 3/3] END max_depth=5, max_features=auto, min_samples_leaf=5, min_samples_split=2, n_estimators=300;, score=-6413219.197 total time=   1.7s

-3971562.574293677

In [47]:
tuning_reg_model.best_params_

{'n_estimators': 500,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 15}

In [48]:
tuning_reg_model.best_score_

-4626510.88131109

In [49]:
from sklearn import metrics
prediction = tuning_reg_model.predict(X_test)
print('MSE:', metrics.mean_squared_error(y_test, prediction))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, prediction)))

MSE: 3971562.574293677
RMSE: 1992.8779627196636

In [50]:
metrics.r2_score(y_test, prediction)

0.8158078007688319

### 6. Saving the model

In [51]:
# import pickle
# # open a file, where you want to store the data
# file = open('flight_rf.pkl', 'wb')

# # dump information to that file
# pickle.dump(reg_all, file)
# model = open('flight_price_rf.pkl','rb')
# forest = pickle.load(model)
# y_prediction = forest.predict(X_test)
# metrics.r2_score(y_test, y_prediction)

In [52]:
import pickle
with open('flight_fare_pickle.pkl', 'wb') as file:
    pickle.dump(tuning_reg_model, file)

In [53]:
with open('flight_fare_pickle.pkl', 'rb') as file:
    reg_model = pickle.load(file)

In [54]:
prediction = reg_model.predict(X_test)
print('MSE:', metrics.mean_squared_error(y_test, prediction))

MSE: 3971562.574293677

In [55]:
train_df.Source.unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [56]:
train_df.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)